body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "navv body" "navv body" "foot body";
  background-color: #edf2f4;
  color: #212121;
  font-family: "Josefin Sans", sans-serif;
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "navv" "body" "foot";
  }
}
body header {
  grid-area: navv;
  position: fixed;
  height: 66vh;
  width: 150px;
  background-color: #dfe0e0;
}
@media screen and (max-width: 768px) {
  body header {
    height: 100px;
    width: 100%;
    position: initial;
  }
}
body header nav {
  background-color: #dfe0e0;
}
body header nav .container-fluid {
  height: 66vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body header nav .container-fluid {
    flex-direction: row;
    height: 100px;
  }
}
body header nav .container-fluid .rl {
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body header nav .container-fluid .rl {
    height: 100px;
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  body header nav .container-fluid .rl .switch {
    margin: auto;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}
body header nav .container-fluid .rl .divlogo {
  height: 100px;
  width: 100px;
  background-image: url(../Imagenes/yo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  body header nav .container-fluid .rl .divlogo {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 410px) {
  body header nav .container-fluid .rl .divlogo {
    margin-left: 0px;
  }
}
body header nav .container-fluid .rl p {
  text-align: center;
  font-size: 0.85rem;
}
@media screen and (max-width: 768px) {
  body header nav .container-fluid .rl p {
    display: none;
  }
}
body header nav .container-fluid .burga {
  display: none;
}
@media screen and (max-width: 767px) {
  body header nav .container-fluid .burga {
    margin-right: 15px;
    display: initial;
    z-index: 1111;
  }
}
@media only screen and (max-width: 410px) {
  body header nav .container-fluid .burga {
    margin-right: 0px;
  }
}
body header nav .container-fluid .offcanvas {
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
@media screen and (max-width: 768px) {
  body header nav .container-fluid .offcanvas {
    height: 350px;
    width: 350px;
    background-color: #dfe0e0;
    -webkit-border-radius: 0px 0px 0px 100%;
    overflow: hidden;
    align-items: flex-end;
  }
}
@media only screen and (max-width: 768px) and (max-width: 410px) {
  body header nav .container-fluid .offcanvas {
    height: 300px;
    width: 300px;
  }
}
body header nav .container-fluid .offcanvas .offcanvas-body ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (width: 768px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul {
    flex-direction: row;
    margin: 0px;
    padding: 0px;
  }
}
@media only screen and (max-width: 768px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul {
    align-items: flex-end;
  }
}
@media only screen and (max-width: 768px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul #link1 {
    padding-right: 200px;
  }
}
@media only screen and (max-width: 410px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul #link1 {
    padding-right: 170px;
  }
}
@media screen and (max-width: 768px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul #link2 {
    padding-right: 180px;
  }
}
@media only screen and (max-width: 410px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul #link2 {
    padding-right: 150px;
  }
}
@media screen and (max-width: 768px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul #link3 {
    padding-right: 120px;
  }
}
@media only screen and (max-width: 410px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul #link3 {
    padding-right: 100px;
  }
}
@media screen and (max-width: 768px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul #link4 {
    padding-right: 100px;
  }
}
@media only screen and (max-width: 410px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul #link4 {
    padding-right: 80px;
  }
}
@media screen and (max-width: 768px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul #link5 {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 410px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul #link5 {
    padding-right: 20px;
  }
}
@media only screen and (width: 768px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul #link1,
body header nav .container-fluid .offcanvas .offcanvas-body ul #link2,
body header nav .container-fluid .offcanvas .offcanvas-body ul #link3,
body header nav .container-fluid .offcanvas .offcanvas-body ul #link4,
body header nav .container-fluid .offcanvas .offcanvas-body ul #link5 {
    margin: 0px;
    padding: 0px;
    font-size: 0.8rem;
    margin-left: 15px;
  }
}
body header nav .container-fluid .offcanvas .offcanvas-body ul li {
  margin: 10px auto;
  list-style: none;
}
@media screen and (max-width: 767px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul li {
    margin: 10px 0px;
  }
}
@media screen and (max-width: 767px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul li a {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 410px) {
  body header nav .container-fluid .offcanvas .offcanvas-body ul li a {
    font-size: 0.8rem;
  }
}
body header nav .container-fluid .offcanvas .offcanvas-body ul li a:hover {
  color: #d72638;
}
body main {
  grid-area: body;
  width: 100%;
}
body main div .inli {
  display: inline-block;
}
body main .container_intro {
  padding-top: 30px;
}
body main .container_intro .titulo {
  padding-top: 30px;
}
body main .container_intro h1 {
  font-size: 4.5rem;
}
@media screen and (max-width: 550px) {
  body main .container_intro h1 {
    font-size: 3rem;
  }
}
body main .container_intro h3 {
  margin-top: 10px;
  font-size: 2rem;
}
body main .container_intro h3 span {
  color: #d72638;
}
@media screen and (max-width: 550px) {
  body main .container_intro h3 {
    font-size: 1.2rem;
  }
}
body main .container_sobremi {
  margin-top: 30px;
  width: 100%;
}
body main .container_sobremi h2 {
  font-size: 2.5rem;
}
@media screen and (max-width: 550px) {
  body main .container_sobremi h2 {
    font-size: 1.6rem;
  }
}
body main .container_sobremi .sobremi_p {
  font-size: 1.2rem;
  margin: 0px 80px;
}
@media screen and (max-width: 550px) {
  body main .container_sobremi .sobremi_p {
    font-size: 0.9rem;
    margin: 0px 10%;
  }
}
body main .container_sobremi .link_cv {
  margin: 0px 10px;
  padding: 8px 16px;
  color: #212121;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #dfe0e0;
  text-decoration: none;
}
body main .container_sobremi .link_cv:hover {
  color: #d72638;
}
body main .container_proyectos {
  margin-top: 60px;
}
body main .container_proyectos h2 {
  font-size: 2.5rem;
}
@media screen and (max-width: 550px) {
  body main .container_proyectos h2 {
    font-size: 1.6rem;
  }
}
body main .container_proyectos .proyecto_p {
  font-size: 1.2rem;
  margin: 0px 80px;
}
@media screen and (max-width: 550px) {
  body main .container_proyectos .proyecto_p {
    font-size: 0.9rem;
    margin: 0px 10%;
  }
}
body main .container_proyectos .proyectos .card_proyecto {
  display: flex;
  height: 400px;
  margin: 30px 5%;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  body main .container_proyectos .proyectos .card_proyecto {
    flex-direction: column;
    height: 450px;
  }
}
body main .container_proyectos .proyectos .card_proyecto .div_repo {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  padding: 0;
}
body main .container_proyectos .proyectos .card_proyecto .imagen {
  height: auto;
  width: 70%;
  object-fit: cover;
  cursor: zoom-in;
  transition: 0.3s;
}
@media screen and (max-width: 700px) {
  body main .container_proyectos .proyectos .card_proyecto .imagen {
    width: 100%;
    height: 65%;
  }
}
@media screen and (max-width: 700px) {
  body main .container_proyectos .proyectos .card_proyecto .imagen {
    height: 45%;
  }
}
body main .container_proyectos .proyectos .card_proyecto .imagen:hover {
  opacity: 0.7;
}
body main .container_proyectos .proyectos .card_proyecto div {
  background-color: #dfe0e0;
  padding: 25px 15px;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  body main .container_proyectos .proyectos .card_proyecto div {
    width: 100%;
    height: 35%;
  }
}
@media screen and (max-width: 700px) {
  body main .container_proyectos .proyectos .card_proyecto div {
    height: 55%;
  }
}
body main .container_proyectos .proyectos .card_proyecto div .herr {
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 700px) {
  body main .container_proyectos .proyectos .card_proyecto div .herr {
    margin-bottom: 20px;
  }
}
body main .container_proyectos .proyectos .card_proyecto div .herr p {
  font-size: 0.7rem;
  padding: 4px 7px 2px;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 2px;
}
body main .container_proyectos .proyectos .card_proyecto div .herr .html {
  background-color: #e54d26;
}
body main .container_proyectos .proyectos .card_proyecto div .herr .css {
  background-color: #0170ba;
}
body main .container_proyectos .proyectos .card_proyecto div .herr .sass {
  background-color: #cd6799;
}
body main .container_proyectos .proyectos .card_proyecto div .herr .boots {
  background-color: #7911f7;
}
body main .container_proyectos .proyectos .card_proyecto div .herr .java {
  background-color: #ebcb32;
}
body main .container_proyectos .proyectos .card_proyecto div .herr .react {
  background-color: #61dafb;
}
body main .container_proyectos .proyectos .card_proyecto div .herr .tail {
  background-color: #1bb5b9;
}
body main .container_proyectos .proyectos .card_proyecto div .link_sitio {
  padding: 8px 16px;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #212121;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
body main .container_proyectos .proyectos .card_proyecto div .link_sitio:hover {
  background-color: #d72638;
}
body main .container_certificados {
  margin-top: 60px;
}
body main .container_certificados h2 {
  font-size: 2.5rem;
}
@media screen and (max-width: 550px) {
  body main .container_certificados h2 {
    font-size: 1.6rem;
  }
}
body main .container_certificados .certif_p {
  font-size: 1.2rem;
  margin: 0px 80px;
}
@media screen and (max-width: 550px) {
  body main .container_certificados .certif_p {
    font-size: 0.9rem;
    margin: 0px 10%;
  }
}
body main .container_certificados .certificados {
  display: grid;
  justify-items: center;
  margin: 0px 10%;
  grid-template-columns: repeat 1fr, 3;
  grid-template-rows: repeat 1fr, 3;
  grid-template-areas: "cer1 cer2 cer3" "cer4 cer5 cer6" "cer7 cer8 cer9";
}
@media screen and (max-width: 1250px) {
  body main .container_certificados .certificados {
    grid-template-columns: repeat 1fr, 2;
    grid-template-rows: repeat 1fr, 5;
    grid-template-areas: "cer2 cer1" "cer3 cer4" "cer6 cer5" "cer7 cer8" "cer9 cer9";
  }
}
@media screen and (max-width: 872px) {
  body main .container_certificados .certificados {
    grid-template-columns: 1fr;
    grid-template-rows: repeat 1fr, 9;
    grid-template-areas: "cer1" "cer2" "cer3" "cer4" "cer5" "cer6" "cer7" "cer8" "cer9";
  }
}
body main .container_certificados .certificados #myImg4 {
  grid-area: cer1;
}
body main .container_certificados .certificados #myImg5 {
  grid-area: cer2;
}
body main .container_certificados .certificados #myImg6 {
  grid-area: cer3;
}
body main .container_certificados .certificados #myImg7 {
  grid-area: cer4;
}
body main .container_certificados .certificados #myImg8 {
  grid-area: cer5;
}
body main .container_certificados .certificados #myImg9 {
  grid-area: cer6;
}
body main .container_certificados .certificados #myImg0 {
  grid-area: cer7;
}
body main .container_certificados .certificados #myImg11 {
  grid-area: cer8;
}
body main .container_certificados .certificados #myImg12 {
  grid-area: cer9;
}
body main .container_certificados .certificados img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  margin: 10px;
  width: 300px;
  object-fit: cover;
  cursor: zoom-in;
  transition: 0.3s;
}
@media screen and (max-width: 450px) {
  body main .container_certificados .certificados img {
    width: 250px;
  }
}
body main .container_certificados .certificados img:hover {
  opacity: 0.7;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
body main .container_certificados .tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
body main .container_certificados .tools img {
  margin: 10px;
  filter: grayscale(0.8);
  height: 100px;
  width: 100px;
  object-fit: contain;
  -webkit-filter: grayscale(0.8);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
@media screen and (max-width: 768px) {
  body main .container_certificados .tools img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
}
body main .container_certificados .tools img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  animation: shake 0.4s;
  -webkit-animation: shake 0.4s;
}
body main .container_certificados .enlace {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
body main .container_certificados .enlace a {
  text-align: center;
  padding: 10px 10px;
  width: 110px;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #212121;
  text-decoration: none;
}
body main .container_certificados .enlace a:hover {
  background-color: #d72638;
}
body main .container_contacto {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 850px) {
  body main .container_contacto {
    margin: 60px 10%;
    width: 80%;
  }
}
body main .container_contacto .contacto_saludo {
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #212121;
  color: #edf2f4;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  margin-bottom: 60px;
}
body main .container_contacto .contacto_saludo a i {
  color: #212121;
  font-size: 1.2rem;
  background-color: #edf2f4;
  padding: 6px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
body main .container_contacto .contacto_saludo a i:hover {
  background-color: #d72638;
  color: #edf2f4;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  animation: shake 0.4s;
  -webkit-animation: shake 0.4s;
}
body footer {
  background-color: #dfe0e0;
  grid-area: foot;
  position: fixed;
  width: 150px;
  margin-top: 66vh;
  height: 100%;
}
@media screen and (max-width: 768px) {
  body footer {
    width: 100%;
    height: 120px;
    position: initial;
    margin: 0px;
  }
}
body footer p {
  text-align: center;
  margin: auto;
  padding: 20px;
  font-size: 0.8rem;
}
body footer div ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 3px;
}
@media screen and (max-width: 768px) {
  body footer div ul {
    flex-direction: row;
    justify-content: center;
  }
}
body footer div ul li {
  margin: auto;
  list-style: none;
}
@media screen and (max-width: 768px) {
  body footer div ul li {
    margin: 0;
  }
}
body footer div ul li a i {
  color: #edf2f4;
  font-size: 1.2rem;
  background-color: #212121;
  padding: 6px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
body footer div ul li a i:hover {
  background-color: #d72638;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  animation: shake 0.4s;
  -webkit-animation: shake 0.4s;
}
body .goup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 2rem;
}
body .goup a i:hover {
  color: #d72638;
}

.tag {
  font-family: "Caveat", cursive;
  color: #d72638;
}

.tag1 {
  margin-left: 10px;
}

.tag2 {
  margin-left: 25px;
}

.tag3 {
  margin-left: 40px;
}

.tag4 {
  margin-left: 50px;
}

.tagup {
  vertical-align: top;
}

.switch {
  margin-top: 10px;
  position: relative;
  width: 2.5rem;
  height: 1.2rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #edf2f4;
}
.switch input:checked + .slider:before {
  left: calc(100% - 1.2rem);
  background-color: #edf2f4;
  box-shadow: inset -3px -2px 5px -2px #212121, inset -8px -4px 0 0 #212121;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212121;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: #edf2f4;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.oscuro {
  color: #edf2f4;
  background-color: #212121;
}
.oscuro header {
  background-color: #121212;
}
.oscuro header nav {
  background-color: #121212;
}
.oscuro header nav .container-fluid .rl .divlogo {
  height: 100px;
  width: 100px;
  background-image: url(../Imagenes/yo2.png);
  filter: invert(97%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: invert(97%);
}
.oscuro header nav .burga .hamburger .hamburger-inner,
.oscuro header nav .burga .hamburger .hamburger-inner::after,
.oscuro header nav .burga .hamburger .hamburger-inner::before {
  background-color: #edf2f4;
}
.oscuro header nav #offcanvasNavbar {
  background-color: #121212;
}
.oscuro header nav #offcanvasNavbar .offcanvas-body {
  background-color: #121212;
}
.oscuro header nav #offcanvasNavbar .offcanvas-body ul {
  background-color: #121212;
}
.oscuro header nav #offcanvasNavbar .offcanvas-body ul li a:hover {
  color: #e28868;
}
.oscuro main .tag {
  color: #e28868;
}
.oscuro main #sobremi h3 span {
  color: #e28868;
}
.oscuro main .container_sobremi .link_cv {
  color: #edf2f4;
  background-color: #121212;
}
.oscuro main .container_sobremi .link_cv:hover {
  color: #e28868;
}
.oscuro main .container_proyectos .proyectos .card_proyecto div {
  background-color: #121212;
}
.oscuro main .container_proyectos .proyectos .card_proyecto div a {
  color: #212121;
  background-color: #edf2f4;
}
.oscuro main .container_proyectos .proyectos .card_proyecto div a:hover {
  background-color: #e28868;
  color: #edf2f4;
}
.oscuro main .container_certificados .enlace a {
  color: #212121;
  background-color: #edf2f4;
}
.oscuro main .container_certificados .enlace a:hover {
  background-color: #e28868;
}
.oscuro main .container_contacto .contacto_saludo {
  background-color: #e28868;
  color: #212121;
}
.oscuro main .container_contacto .contacto_saludo a i {
  color: #212121;
  background-color: #edf2f4;
}
.oscuro main .container_contacto .contacto_saludo a i:hover {
  background-color: #edf2f4;
  color: #e28868;
}
.oscuro footer {
  background-color: #121212;
}
.oscuro footer div ul li a i {
  color: #212121;
  background-color: #edf2f4;
}
.oscuro footer div ul li a i:hover {
  background-color: #e28868;
}
.oscuro .goup a i:hover {
  color: #e28868;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: zoom-out;
}

.modal-content {
  margin: auto;
  display: block;
  height: 90%;
  width: 90%;
  object-fit: contain;
  background-color: transparent;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
  }
}
@keyframes zoom {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes shake {
  70% {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
  }
}
.hamburger {
  width: 95px;
  height: 80px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  color: #d72638;
}
.hamburger .hamburger-box {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  padding-left: 10px;
  margin: 0px;
}
.hamburger .hamburger-box .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #212121;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #212121;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.visible {
  visibility: visible;
  animation: visible 0.4s;
  -webkit-animation: visible 0.4s;
}

.hidd {
  visibility: hidden;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.tools div p {
  opacity: 0;
  text-align: center;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  margin-top: 20px;
}

.tools div:hover p {
  opacity: 100;
}

/*# sourceMappingURL=estilos.css.map */
