body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "navv body" "navv body" "foot body";
  background-color: $color-secundario;
  background-image: url("../Imagenes/dots.svg");
  background-size: contain;
  background-repeat: repeat;
  color: $color-principal;
  font-family: "Josefin Sans", sans-serif;
  animation: bgmove 30s linear infinite;
  -webkit-animation: bgmove 30s linear infinite;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "navv"
      "body"
      "foot";
  }
  header {
    grid-area: navv;
    position: fixed;
    height: 66vh;
    width: 150px;
    background-color: $color-secundariod;
    z-index: 10;

    @media screen and (max-width: 768px) {
      height: 100px;
      width: 100%;
      position: initial;
    }
    nav {
      background-color: $color-secundariod;
      .container-fluid {
        height: 66vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
          flex-direction: row;
          height: 100px;
        }
        .rl {
          height: 33vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          @media screen and (max-width: 768px) {
            height: 100px;
            flex-direction: row;
          }

          .divlogo {
            height: 130px;
            width: 130px;

            @media screen and (max-width: 768px) {
              margin-left: 15px;
              height: 110px;
              width: 110px;
              margin-bottom: 45px;
            }
            @media only screen and (max-width: 410px) {
              margin-left: 0px;
            }
          }
          p {
            text-align: center;
            font-size: 0.85rem;
            @media screen and (max-width: 768px) {
              display: none;
            }
          }
        }
        .burga {
          display: none;
          @media screen and (max-width: 767px) {
            margin-right: 15px;
            display: initial;
            z-index: 1111;
          }
          @media only screen and (max-width: 410px) {
            margin-right: 0px;
          }
        }
        .offcanvas {
          height: 33vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: 0.4s;
          -webkit-transition: 0.4s;
          -moz-transition: 0.4s;
          -ms-transition: 0.4s;
          -o-transition: 0.4s;
          @media screen and (max-width: 768px) {
            height: 350px;
            width: 350px;
            background-color: $color-secundariod;
            -webkit-border-radius: 0px 0px 0px 100%;
            overflow: hidden;
            align-items: flex-end;
            @media only screen and (max-width: 410px) {
              height: 300px;
              width: 300px;
            }
          }
          .offcanvas-body {
            ul {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              @media only screen and (width: 768px) {
                flex-direction: row;
                margin: 0px;
                padding: 0px;
              }
              @media only screen and (max-width: 768px) {
                align-items: flex-end;
              }
              #link1 {
                @media only screen and (max-width: 768px) {
                  padding-right: 200px;
                }
                @media only screen and (max-width: 410px) {
                  padding-right: 170px;
                }
              }
              #link2 {
                @media screen and (max-width: 768px) {
                  padding-right: 180px;
                }
                @media only screen and (max-width: 410px) {
                  padding-right: 150px;
                }
              }
              #link3 {
                @media screen and (max-width: 768px) {
                  padding-right: 120px;
                }
                @media only screen and (max-width: 410px) {
                  padding-right: 100px;
                }
              }
              #link4 {
                @media screen and (max-width: 768px) {
                  padding-right: 120px;
                }
                @media only screen and (max-width: 410px) {
                  padding-right: 90px;
                }
              }
              #link5 {
                @media screen and (max-width: 768px) {
                  padding-right: 40px;
                }
                @media only screen and (max-width: 410px) {
                  padding-right: 30px;
                }
              }
              #link1,
              #link2,
              #link3,
              #link4,
              #link5 {
                font-size: 0.9rem;
                @media only screen and (width: 768px) {
                  margin: 0px;
                  padding: 0px;
                  font-size: 0.8rem;
                  margin-left: 15px;
                }
              }
              li {
                margin: 8px auto;
                list-style: none;

                @media screen and (max-width: 767px) {
                  margin: 10px 0px;
                }
                a {
                  @media screen and (max-width: 767px) {
                    font-size: 1.2rem;
                  }
                  @media only screen and (max-width: 410px) {
                    font-size: 0.8rem;
                  }
                  &:hover {
                    color: $color-detalled;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  main {
    grid-area: body;
    width: 100%;

    div {
      .inli {
        display: inline-block;
      }
    }
    .container_intro {
      padding-top: 30px;
      .namee {
        animation: intro 2s ease;
        -webkit-animation: intro 2s ease;
        color: $color-principal;
        -webkit-text-stroke: $color-secundariod;
        text-shadow: 3px 3px 0px $color-detalled, 6px 6px 0px $color-secundariod;
      }

      .titulo {
        padding-top: 30px;
      }
      h1 {
        font-size: 4.5rem;
        @media screen and (max-width: 550px) {
          font-size: 3rem;
        }
      }

      h3 {
        margin-top: 10px;
        font-size: 2rem;
        span {
          color: $color-detalled;
        }
        @media screen and (max-width: 550px) {
          font-size: 1.2rem;
        }
      }
    }
    .container_sobremi {
      width: 100%;
      margin-top: 10px;
      h2 {
        animation: intro 2.5s ease;
        -webkit-animation: intro 2.5s ease;
        color: $color-principal;
        -webkit-text-stroke: $color-secundariod;
        text-shadow: 3px 3px 0px $color-detalled, 6px 6px 0px $color-secundariod;
        font-size: 2.5rem;
        @media screen and (max-width: 550px) {
          font-size: 1.6rem;
        }
      }
      .sobremi_p {
        font-size: 1.2rem;
        margin: 0px 80px;
        @media screen and (max-width: 550px) {
          font-size: 0.9rem;
          margin: 0px 10%;
        }
      }
      .link_cv {
        margin: 0px 10px;
        padding: 8px 16px;
        color: $color-principal;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        background-color: $color-secundariod;
        text-decoration: none;
        &:hover {
          color: $color-detalled;
        }
      }
    }
    .container_proyectos {
      margin-top: 60px;

      h2 {
        color: $color-principal;
        -webkit-text-stroke: $color-secundariod;
        text-shadow: 3px 3px 0px $color-detalled, 6px 6px 0px $color-secundariod;

        font-size: 2.5rem;
        @media screen and (max-width: 550px) {
          font-size: 1.6rem;
        }
      }
      .proyecto_p {
        font-size: 1.2rem;
        margin: 0px 80px;
        @media screen and (max-width: 550px) {
          font-size: 0.9rem;
          margin: 0px 10%;
        }
      }
      .proyectos {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        @media screen and (max-width: 660px) {
          gap: 20px;
        }
      }
    }
    .container_certificados {
      background-color: $color-detalled;
      padding: 60px 0px 20px;
      .tag {
        color: $color-secundariod;
      }
      h2 {
        text-shadow: 3px 3px 0px #e54d26, 6px 6px 0px $color-secundariod;

        font-size: 2.5rem;
        @media screen and (max-width: 550px) {
          font-size: 1.6rem;
        }
      }
      .certif_p {
        font-size: 1.2rem;
        margin: 0px 80px;
        @media screen and (max-width: 550px) {
          font-size: 0.9rem;
          margin: 0px 10%;
        }
      }
    }
    #tools {
      margin-top: 50px;
      width: 100%;
      overflow: hidden;
      h2 {
        color: $color-principal;
        -webkit-text-stroke: $color-secundariod;
        text-shadow: 3px 3px 0px $color-detalled, 6px 6px 0px $color-secundariod;
      }
      .stack-div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .tools {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0px 5%;
          width: 90%;

          .stack-title {
            display: flex;
            gap: 8px;
            span {
              font-size: 1rem;
            }
            p {
              padding-top: 6px;
            }
          }
          .stack {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            &:hover > :not(:hover) {
              transition: 0.4s;
              -webkit-transition: 0.4s;
              -moz-transition: 0.4s;
              -ms-transition: 0.4s;
              -o-transition: 0.4s;
              filter: grayscale(0.8);
              -webkit-filter: grayscale(0.8);
              opacity: 0.5;
            }
          }

          img {
            margin: 10px;
            width: 90px;
            height: 90px;
            object-fit: contain;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            @media screen and (max-width: 420px) {
              width: 70px;
              height: 70px;
            }
            &:hover {
              transform: scale(1.2);
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -ms-transform: scale(1.2);
              -o-transform: scale(1.2);
              animation: shake 0.4s;
              -webkit-animation: shake 0.4s;
            }
          }
        }
      }
    }
    .enlace {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      a {
        text-align: center;
        padding: 10px 10px;
        width: 110px;
        color: $color-secundario;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        background-color: $color-principal;
        text-decoration: none;
        transition: 0.2s linear all;
        -webkit-transition: 0.2s linear all;
        -moz-transition: 0.2s linear all;
        -ms-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        &:hover {
          background-color: $color-detalled;
        }
      }
    }
    .container_contacto {
      width: 100%;
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media screen and (max-width: 850px) {
        margin: 60px 10%;
        width: 80%;
      }
      .contacto_saludo {
        padding: 20px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        background-image: url(../Imagenes/peak.svg);
        background-size: contain;
        background-repeat: repeat;
        color: $color-principal;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
          rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        margin-bottom: 60px;

        a {
          i {
            color: $color-secundario;
            font-size: 1.2rem;
            background-color: $color-principal;
            padding: 6px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            &:hover {
              background-color: $color-principal;
              color: $color-detalled;
              transform: scale(1.1);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
              animation: shake 0.4s;
              -webkit-animation: shake 0.4s;
            }
          }
        }
      }
    }
  }
  footer {
    background-color: $color-secundariod;
    grid-area: foot;
    position: fixed;
    width: 150px;
    margin-top: 66vh;
    height: 100%;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 120px;
      position: initial;
      margin: 0px;
    }
    p {
      text-align: center;
      margin: auto;
      padding: 20px;
      font-size: 0.8rem;
    }
    div {
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 3px;
        @media screen and (max-width: 768px) {
          flex-direction: row;
          justify-content: center;
        }
        li {
          margin: auto;
          list-style: none;
          @media screen and (max-width: 768px) {
            margin: 0;
          }
          a {
            i {
              color: $color-secundario;
              font-size: 1.2rem;
              background-color: $color-principal;
              padding: 6px;
              border-radius: 50px;
              -webkit-border-radius: 50px;
              -moz-border-radius: 50px;
              -ms-border-radius: 50px;
              -o-border-radius: 50px;
              &:hover {
                background-color: $color-detalled;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                animation: shake 0.4s;
                -webkit-animation: shake 0.4s;
              }
            }
          }
        }
      }
    }
  }
  .goup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 2rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    a {
      i {
        &:hover {
          color: $color-detalled;
        }
      }
    }
  }
}
#certificados {
  .enlace {
    a {
      color: $color-secundario;
      background-color: $color-principal;
      &:hover {
        background-color: #e56d47;

        color: $color-principal;
      }
    }
  }
}
.tag {
  font-family: "Caveat", cursive;
  color: $color-detalled;
}
.tag1 {
  margin-left: 10px;
}
.tag2 {
  margin-left: 25px;
}
.tag3 {
  margin-left: 40px;
}
.tag4 {
  margin-left: 50px;
}
.tagup {
  vertical-align: top;
}
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.9);
  cursor: zoom-out;
}

.modal-content {
  margin: auto;
  display: block;
  height: 90%;
  width: 90%;
  object-fit: contain;
  background-color: transparent;
}
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes shake {
  70% {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
  }
}
.hamburger {
  width: 95px;
  height: 80px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  &:hover {
    color: $color-detalled;
  }
  .hamburger-box {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    padding-left: 10px;
    margin: 0px;
    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px;
    }
  }
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $color-principal;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: $color-principald;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.tools .stack div p {
  opacity: 0;
  text-align: center;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  margin-top: 20px;
}
.tools .stack div:hover p {
  opacity: 100;
}
p::selection,
i::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
a::selection {
  text-shadow: none;
  background-color: $color-detalled;
  color: $color-secundariod;
}

.wavesss {
  height: 100px;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: $color-detalled;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.wave1 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.slider {
  width: 100%;
  height: 320px;
  margin: auto;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 450px) {
    height: 270px;
  }
  .slide-track {
    padding-top: 15px;
    position: absolute;
    left: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(320px * 18);
    .slide {
      width: 320px;
      margin: 0px 10px;
      @media screen and (max-width: 450px) {
        width: 250px;
      }
    }
    img {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      width: 100%;
      object-fit: cover;
      cursor: zoom-in;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      @media screen and (max-width: 450px) {
        width: 250px;
      }
      &:hover {
        opacity: 0.7;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
    }
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-320px * 9));
    transform: translateX(calc(-320px * 9));
    -moz-transform: translateX(calc(-320px * 9));
    -ms-transform: translateX(calc(-320px * 9));
    -o-transform: translateX(calc(-320px * 9));
  }
}

.section {
  width: 95%;
  position: relative;

  margin: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  @media (max-width: $sm) {
    height: 500px;
  }

  .left,
  .middle,
  .right {
    width: 100%;
    display: block;
    color: #fff;
    box-sizing: border-box;
    left: 0;
    height: 100%;
    // padding: 30px;
    text-align: center;
    overflow: hidden;

    @include transition;

    .content {
      @media (min-width: $sm) {
        @include vertical-align();
      }
    }

    @media (min-width: $sm) {
      width: 50%;
      font-size: 0.9em;
      padding: 10px;
      left: 0;
      float: left;
      position: absolute;
      margin: 0px;
    }

    @media (min-width: $md) {
      width: 33.33333%;
      left: 33.33%;
      padding: 10px;
    }

    @media (min-width: $lg) {
      padding: 30px;
      font-size: 1em;
    }
  }

  &.animated {
    .left {
      left: 0;

      @media (min-width: $sm) {
        left: 50%;
      }

      @media (min-width: $md) {
        left: 0;
      }
    }

    .right {
      left: 0;

      @media (min-width: $sm) {
        left: 50%;
      }

      @media (min-width: $md) {
        left: 66.66%;
      }
    }
  }

  .title {
    background-color: $color-secundariod;
    @media (max-width: $sm) {
      height: 60%;
      padding-top: 60px;
    }
    .content {
      padding: 25px 15px;
      background-color: $color-secundariod;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .herr {
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        p {
          font-size: 0.7rem;
          padding: 4px 7px 2px;
          color: white;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          margin: 2px;
        }
        .html {
          background-color: #e54d26;
        }
        .firebase {
          background-color: #ffa714;
        }
        .css {
          background-color: #0170ba;
        }
        .sass {
          background-color: #cd6799;
        }
        .boots {
          background-color: #7911f7;
        }
        .java {
          background-color: #d5b92d;
        }
        .react {
          background-color: #61dafb;
        }
        .tail {
          background-color: #1bb5b9;
        }
      }
      .div_repo {
        display: flex;
        gap: 4px;
        .link_sitio {
          padding: 8px 16px;
          color: $color-secundario;
          border-radius: 50px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          -o-border-radius: 50px;
          background-color: $color-principal;
          text-decoration: none;
          display: flex;

          justify-content: center;
          align-items: center;
          gap: 4px;

          &:hover {
            background-color: $color-detalled;
            color: $color-principal;
          }
        }
      }
    }
  }

  .tiles {
    padding: 0;

    clear: both;
    display: none;
    float: none;
    height: 100%;

    img {
      width: 50%;
      height: 50%;
      float: left;
      opacity: 0.7;
      object-fit: cover;
      @include transition;
      @include filter(grayscale(100%));

      &:hover {
        opacity: 1;
        @include filter(grayscale(0%));
      }
    }
    #oishi1 {
      object-position: top;
    }

    #oishi3 {
      object-position: bottom;
    }

    #hogs1 {
      object-position: top;
    }
    #hogs2 {
      object-position: top;
    }
    #hogs3 {
      object-position: 0px -17px;
    }
    #pms1 {
      object-position: top;
    }

    #pms3 {
      object-position: bottom;
    }

    @media (min-width: $md) {
      display: block;
    }
  }

  .middle {
    background: slategray;
    z-index: 2;
    padding: 0;

    @media (max-width: $sm) {
      height: 45%;
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      cursor: zoom-in;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@keyframes orbit {
  to {
    transform: rotateZ(
        calc(
          (360deg / var(--circle-item-count)) *
            (var(--circle-item-index) + var(--circle-item-count))
        )
      )
      translateY(calc(var(--orbit-radius) * -1))
      rotateZ(
        calc(
          (360deg / var(--circle-item-count)) *
            (var(--circle-item-index) + var(--circle-item-count)) * -1
        )
      );
  }
}

:root {
  --orbit-radius: 160px;
  --circle-item-count: 7;
  --circle-item-index: 0;
  @media screen and (max-width: 424px) {
    --orbit-radius: 130px;
  }
}

.u-grid-center {
  display: grid;
  place-items: center;
}

.u-grid-center * {
  grid-area: 1 / 1 / 2 / 2;
}

.circle-container {
  height: calc(var(--orbit-radius) * 2.55);
  width: calc(var(--orbit-radius) * 2.55);
}

.header-stack,
.circle-list {
  display: contents;
}
.header-stack {
  h3 {
    margin-bottom: 50px;
  }
  span {
    font-size: 1rem;
  }
}
.circle-list {
  list-style: none;
}

.circle-item {
  text-align: center;
  transform: rotateZ(
      calc((360deg / var(--circle-item-count)) * var(--circle-item-index))
    )
    translateY(calc(var(--orbit-radius) * -1))
    rotateZ(
      calc((360deg / var(--circle-item-count)) * var(--circle-item-index) * -1)
    );
  animation: orbit linear 40s infinite;
  -webkit-animation: orbit linear 40s infinite;
  p {
    opacity: 0;
    .icon:hover p {
      opacity: 1;
    }
  }
}
.circle2 {
  .circle-item {
    animation: orbit linear 40s infinite reverse;
    -webkit-animation: orbit linear 40s infinite reverse;
  }
}
.circle-item:nth-child(1) {
  --circle-item-index: 0;
}
.circle-item:nth-child(2) {
  --circle-item-index: 1;
}
.circle-item:nth-child(3) {
  --circle-item-index: 2;
}
.circle-item:nth-child(4) {
  --circle-item-index: 3;
}
.circle-item:nth-child(5) {
  --circle-item-index: 4;
}
.circle-item:nth-child(6) {
  --circle-item-index: 5;
}
.circle-item:nth-child(7) {
  --circle-item-index: 6;
}
.circle-item:nth-child(8) {
  --circle-item-index: 7;
}

.circle-list:hover > :not(:hover) {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  filter: grayscale(0.8);
  -webkit-filter: grayscale(0.8);
  opacity: 0.5;
}

.link {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;

  text-decoration: none;

  animation-delay: calc(var(--circle-item-index) * 0.4s);
}

.icon {
  width: 90px;
  height: 90px;
  object-fit: contain;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  @media screen and (max-width: 425px) {
    width: 70px;
    height: 70px;
  }
}
.circle-item:hover .icon {
  &:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    animation: shake 0.4s;
    -webkit-animation: shake 0.4s;
  }
}
.circle-list .circle-item p {
  opacity: 0;
  text-align: center;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  margin-top: 20px;
}
.circle-list .circle-item .icon:hover + p {
  opacity: 100;
}
.stack-div {
  display: flex;
  flex-direction: column;
  gap: 50px;
  .div-stack {
    display: flex;
    gap: 40px;
    @media screen and (max-width: 1030px) {
      flex-direction: column;
    }
  }
}

#yo1 #yo2 {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  background-color: transparent;
}
#yo2 {
  opacity: 0;
}

@keyframes shake {
  70% {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
  }
}

.logo > svg:hover #yo2 {
  opacity: 1;
}
.logo > svg:hover #yo1 {
  opacity: 0;
}
.logo > svg:hover {
  animation: shake 0.4s;
  -webkit-animation: shake 0.4s;
}
.logo > svg {
  filter: invert(97%);
  -webkit-filter: invert(97%);
}
.slide-in-left {
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    both;
  animation: slide-in-left 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
.slide-in-right {
  -webkit-animation: slide-in-right 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    both;
  animation: slide-in-right 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.reveal {
  position: relative;
  opacity: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation: fade-bottom 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.active.fade-bottom2 {
  animation: fade-bottom2 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation: fade-bottom2 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.active.fade-left {
  animation: fade-left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation: fade-left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.active.fade-right {
  animation: fade-right 1.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation: fade-right 1.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.active.fade-right2 {
  animation: fade-right2 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    float 5s ease-in-out infinite;
  -webkit-animation: fade-right2 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    float 5s ease-in-out infinite;
}
.active.intro {
  animation: intro 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation: intro 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.active.intro2 {
  animation: intro2 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation: intro2 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-bottom2 {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes intro {
  0% {
    color: transparent;
    -webkit-text-stroke: 1px $color-principal;
    text-shadow: none;
  }
  70% {
    color: transparent;
    -webkit-text-stroke: 1px $color-principal;
    text-shadow: none;
  }
  100% {
    color: $color-principal;
    -webkit-text-stroke: $color-secundariod;
    text-shadow: 3px 3px 0px $color-detalled, 6px 6px 0px $color-secundariod;
  }
}
@keyframes intro2 {
  0% {
    color: transparent;
    -webkit-text-stroke: 1px $color-principal;
    text-shadow: none;
  }
  70% {
    color: transparent;
    -webkit-text-stroke: 1px $color-principal;
    text-shadow: none;
  }
  100% {
    color: $color-principal;
    -webkit-text-stroke: transparent;
    text-shadow: 3px 3px 0px #e54d26, 6px 6px 0px $color-secundariod;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateX(100px);
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right2 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    transform: translateX(100px);
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bgmove {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 250px 250px;
  }
  50% {
    background-position: 0% 250px;
  }
  75% {
    background-position: 250px 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.containerr {
  margin: 0px 20px 50px;
  position: relative;
  height: 340px;
  width: 400px;
  animation: fondo 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation: fondo 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  //animation: anim 60s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  //-webkit-animation: anim 60s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  &:hover {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  @media screen and (max-width: 990px) {
    margin: 0px 60px;
  }
  @media screen and (max-width: 500px) {
    margin: 20px 5%;
    // height: 400px;
    width: 90%;
  }
}
.container-inner {
  // background-color: $color-detalled;
  background-image: url(../Imagenes/peak.svg);
  background-size: contain;
  background-repeat: repeat;
  // background: rgb(229, 77, 38);
  // background: linear-gradient(
  //   219deg,
  //   rgba(229, 77, 38, 1) 0%,
  //   rgba(226, 136, 104, 1) 100%
  // );
  height: 270px;
  width: 100%;
  outline: solid 4px $color-secundario;
  outline-offset: -3px;
  // animation: bgmove 20s linear infinite reverse;
  // -webkit-animation: bgmove 20s linear infinite reverse;

  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  position: absolute;
  top: 70px;

  @media screen and (max-width: 600px) {
    // height: 300px;

    // top: 90px;
  }
}

.img {
  pointer-events: none;
  position: relative;
  animation: imagen 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  -webkit-animation: imagen 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(0) scale(1.2);
  top: -30px;
  width: 250px;
  left: 15px;
  @media screen and (max-width: 440px) {
    // width: 250px;
    // top: 20px;
    left: -25px;
  }
}

@keyframes fondo {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  50% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@keyframes imagen {
  0% {
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
  }
  50% {
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
  }
  80% {
    transform: translateY(0) scale(1.2);
  }
}
.banner-intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 990px) {
    flex-direction: column;
    width: 100%;
    // margin: auto;
  }
}
@keyframes anim {
  0% {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  }
  5% {
    border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%;
  }
  10% {
    border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%;
  }
  15% {
    border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%;
  }
  20% {
    border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%;
  }
  25% {
    border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%;
  }
  30% {
    border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%;
  }
  35% {
    border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%;
  }
  40% {
    border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%;
  }
  45% {
    border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%;
  }
  50% {
    border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%;
  }
  55% {
    border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%;
  }
  60% {
    border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%;
  }
  65% {
    border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%;
  }
  70% {
    border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%;
  }
  75% {
    border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%;
  }
  80% {
    border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%;
  }
  85% {
    border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%;
  }
  90% {
    border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%;
  }
  95% {
    border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%;
  }
  100% {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}
.thought {
  display: flex;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 220px;
  min-height: 40px;
  margin: 20px;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: 5px;
  top: -50px;
  z-index: 20;
  color: $color-secundario;
  font-size: 1.2rem;
  animation: float 5s ease-in-out infinite;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  @media screen and (max-width: 500px) {
    right: -5px;
    top: -50px;
  }
}
.thought:before,
.thought:after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
}
.thought:before {
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  box-shadow: -50px 30px 0 -12px #fff;
}
.thought:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  box-shadow: 40px -34px 0 0 #fff, -58px -6px 0 -2px #fff,
    -50px 17px 0 -6px #fff, -65px 25px 0 -10px #fff;
}
