body {
  background-color: #f1faee;
  color: #1d3557;
  font-family: "Josefin Sans", sans-serif;
}
.logo {
  height: 60px;
  width: 60px;
  background-image: url(../Imagenes/logo2d.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tag {
  font-family: "Caveat", cursive;
}
